*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #212535;
    font-family: 'Exo', sans-serif;
}

.carousel {
    margin-bottom: 2rem;
}
  /* Since positioning the image, we need to help out the caption */

.carousel-caption {
    bottom: 4rem;
    z-index: 10;
}

.posi-md{
    bottom: 6rem;
}

.main-img{
    min-width: 300px;
}
main .main-title{
    width: 48%;
    text-align: right;
    padding-top: 30px;
    color: white;
    font-size: 30px;
    margin-bottom: 50px;
    font-weight: 200;
    
}

main .pincipo{
    min-width: 300px;
    font-size: .8rem;
    color: white;
    background-color: #00973a;
    padding: 7px;
    border-radius: 3px;
    font-weight: 500;
}

main .pincipo a{
    color: white;
    text-decoration: underline;

}
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 50rem;
  }

  .titulos-carusel{
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    font-size: 30px;
    color: white;
    margin-top: 1rem;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }

    .carousel-item{
        height: 38rem;

    }

    .titulos-carusel{
        margin-top: 5rem;
      }
  }